{% extends "GediUserBundle::layout_user.html.twig" %}

{% block titre_user %}Bureau - {{ app.user.nom }} {{ app.user.prenom }}{% endblock %}

{% block user_contenu %}
    {#{% for groupe in tab_groups %}#}
    {#<p>{{ groupe.nom }}</p>#}
    {#{% endfor %}#}
    <div class="row">
        <div class="col-md-2">
            <div class="panel full-transparent"><a id="{{ tab_projects.idProjet }}" class="folder-user" href="#"
                                                   onclick="openFolder('{{ tab_projects.idProjet }}');">
                    <img src="{{ asset('img/folder.png') }}" alt="{{ tab_projects.nom }}"/>
                    <p class="text-white text-center">{{ tab_projects.nom }}</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block breadcrumb_user %}
    <a href="{{ path('home_user', { 'id': app.user.idUtilisateur }) }}">Bureau {{ app.user.prenom }}</a>
{% endblock %}

{% block popup_user_del_titre %}{% endblock %}

{% block popup_user_add_contenu %}{% endblock %}
