{% extends "GediUserBundle::layout_user.html.twig" %}

{% block titre_user %}Bureau - {{ app.user.nom }} {{ app.user.prenom }}{% endblock %}

{% block user_contenu %}
    <div class="row text-center">
        <div class="col-md-2 container-data">
            <div class="panel full-transparent hvr-float-shadow"><a id="{{ tab_projects.idProjet }}"
                                                                    class="content-user" href="#"
                                                                    onclick="openFolder('{{ tab_projects.idProjet }}');"
                                                                    oncontextmenu="menuContext(true, this.id);">
                    <img src="{{ asset('img/folder.png') }}" alt="{{ tab_projects.nom }}"/>
                    <p class="text-white"><strong>{{ tab_projects.nom }}</strong></p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block breadcrumb_user %}
    <a href="{{ path('home_user', { 'id': app.user.idUtilisateur }) }}">
        <span class="glyphicon glyphicon-briefcase"></span> Bureau {{ app.user.prenom }}</a>
{% endblock %}
