{% extends "::layout.html.twig" %}

{% block app_titre %}
    {% block titre_user %}{% endblock %}
{% endblock %}

{% block app_contenu %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="{{ path('home_user', { 'id': app.user.idUtilisateur }) }}"><span
                                    class="glyphicon glyphicon-home"><span class="sr-only">(current)</span></span>
                            Bureau</a></li>
                    <li><a href="{{ path('shared_user', { 'id': app.user.idUtilisateur }) }}"><span
                                    class="glyphicon glyphicon-globe"></span> Partagé</a></li>
                    <li><a href="{{ path('recent_user', { 'id': app.user.idUtilisateur }) }}"><span
                                    class="glyphicon glyphicon-time"></span> Recent</a></li>
                    <li><a href="{{ path('account_user', { 'id': app.user.idUtilisateur }) }}"><span
                                    class="glyphicon glyphicon-user"></span> Mon compte</a></li>
                    <li role="separator" class="divider"></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class="bouton-admin-popup-add"><a href="" data-toggle="modal" data-target="#popup-add">
                            <span class="glyphicon glyphicon-th"></span> Nouveau groupe</a>
                    </li>
                    <li class="bouton-admin-popup-add"><a href="" data-toggle="modal" data-target="#popup-add">
                            <span class="glyphicon glyphicon-folder-close"></span> Nouveau projet</a>
                    </li>
                    <li class="bouton-admin-popup-add"><a href="" data-toggle="modal" data-target="#popup-add">
                            <span class="glyphicon glyphicon-file"></span> Nouveau document</a>
                    </li>
                </ul>
            </div>
            <div id="desktop" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block user_contenu %}{% endblock %}
            </div>
        </div>
    </div>
    <ol id="footer_user" class="breadcrumb">
        <li><a href="{{ path('start') }}">Home</a></li>
        <li id="breadcrumb-flag">{% block breadcrumb_user %}{% endblock %}</li>
    </ol>

    <!-- Popup fenetre de suppression d'entité -->
    <div class="modal fade" id="popup-delete" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close bouton-dismiss-entity" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Suppression {% block popup_user_del_titre %}{% endblock %}</h4>
                </div>
                <!-- contenu mis à jour dans majPopupDelete de gedi.js -->
                <div class="modal-body">
                    <p id="nbSel"></p>
                    <p>Valider la suppression ?</p>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button id="delete-entity" type="button" class="btn btn-danger" data-dismiss="modal">Supprimer
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Popup fenetre d'ajout d'entité -->
    <div class="modal fade" id="popup-add" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close bouton-dismiss-entity" data-dismiss="modal">&times;</button>
                    <!-- Titre mis à jour dans gedi.js -->
                    <h4 id="popup-admin-add-titre" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    {% block popup_user_add_contenu %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- Menu contextuel -->
    <ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none">
        <li id="context-open" class="context-open"><a tabindex="-1" href="#"><span class="glyphicon glyphicon-folder-open">
                </span> Ouvrir</a></li>
        <li id="context-edit"><a data-toggle="modal" data-target="#popup-add" onclick="" tabindex="-1" href="#">
                <span class="glyphicon glyphicon-pencil"></span> Modifier</a></li>
        <li class="divider"></li>
        <li id="context-delete"><a tabindex="-1" href="#"><span class="glyphicon glyphicon-trash"></span> Supprimer</a></li>
        <li class="divider context-download"></li>
        <li id="context-download" class="context-download"><a tabindex="-1" href="#"><span class="glyphicon glyphicon-cloud-download"></span>
                Télécharger</a></li>
    </ul>
{% endblock %}
